/* Main Style for all file
/* Must keep */
/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --brown: #261700;
    --pink: #F7E4D7; 
    --black : #28282B;
    --white: #F9F6EE;
    --bggreen: #90EE90;
}
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--black);
}
html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}

/* Login Popup Styling */
.login-form {
    width: min(90%, 400px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    border: 1px solid var(--black);
    box-shadow: 0 0 20px var(--black);
    overflow: hidden;
    border-radius: 20px;
}
.close-icon {
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: 2rem;
    color: red;
    cursor: pointer;
}
.login-header {
    font-size: 1.5rem;
    font-weight: 900;
}
.error-message {
    width: 100%;
}
.error-dialogue {
    margin: 2rem 0;
    display: block;
    width: 100%;
    background-color: var(--pink);
    text-align: center;
    padding: 0.5rem 0;
    color: red;
}
.form-wrapper {
    width: 90%;
    margin-top: 0;
}
.form-wrapper form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-wrapper form span {
    display: block;
    width: 100%;
}
.form-input {
    width: 100%;
    margin: 4px 0;
    position: relative;
}
.form-input input {
    width: 100%;
    padding: 8px 2%;
    border: 1px solid var(--black);
    outline: none;
}
#pass-icon {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
}
a {
    color: blue;
}
.form-wrapper form button {
    margin: 16px 0;
    padding: 8px 16px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 25px;
    border: none;
    background: var(--bggreen);
    outline: none;
    box-shadow: 0 2px 10px var(--black);
    cursor: pointer;
    transition: 0.4s ease;
}
.form-wrapper form button:hover {
    scale: 1.1;
    box-shadow: var(--bggreen);
}
.form-wrapper form span:first-child, 
.form-wrapper form span:nth-child(3) {
    font-weight: 600;
}
.form-wrapper form span:last-child {
    text-align: center;
}